# Python
__pycache__/
*.pyc
*.pyo

# Virtual environments
venv/

# Flask config
backend/.env

# Database (if SQLite)
*.db
*.sqlite3

# Node modules (for frontend later)
frontend/node_modules/

# OS stuff
.DS_Store
