.dashboard-container {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 2rem;
  position: relative;
}

.dashboard-header {
  display: flex;
  justify-content: flex-end;
}

.dashboard-title-section {
  text-align: left;
  max-width: 600px;
  margin: 0 auto;
}

.dashboard-title {
  font-size: 1.75rem;
  font-weight: bold;
  color: var(--color-primary);
  margin-bottom: 1rem;
}

.dashboard-subtitle {
  font-size: 1rem;
  color: var(--color-neutral-700);
  line-height: 1.6;
}
